# US Diplomatic Gifts 2001-2018

This data is about gifts given between 1999 and 2018 to U.S. federal employees from foreign government sources, such as when a foreign leader visits the U.S. and presents the President with a gift. Articles about these gifts pop up every few years, often prompted by a notable gift to the President or First Family from a visiting foreign leader. This article from Foreign Press and this listicle from Mental Floss lists some notable gifts.

In [128]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('./gifts.csv')

In [71]:
df.head(3)

,Unnamed: 0,id,recipient,agency_name,year_received,date_received,donor,donor_country,gift_description,value_usd,justification
0,0,1,President,NaN,1999,NaN,"His Excellency Petru Lucinschi, President of t...",Moldova,"40"" x 29"" gilt framed oil painting of an autum...",1500.0,Non-acceptance would cause embarrassment to do...
1,1,2,President,NaN,1999,NaN,"His Excellency, Keizo Obuchi, The Prime Minist...",Japan,"Six bottles of sake. Recd--November 20, 1998. ...",14500.0,Non-acceptance would cause embarrassment to do...
2,2,3,President,NaN,1999,NaN,"Sr. Victor Cervera Pacheco, Governor of Yucata...",Mexico,"49"" tall wood chair with a black leather seat ...",1000.0,Non-acceptance would cause embarrassment to do...

In [72]:
df.shape

(8392, 11)

In [73]:
# removing unamed:0 and id columns
df = df.drop(['Unnamed: 0', "id"], axis=1)

In [74]:
# null data
df.isna().sum()

recipient              0
agency_name          707
year_received          0
date_received       3513
donor                  5
donor_country       1417
gift_description       2
value_usd            276
justification          5
dtype: int64

In [75]:
df['agency_name'].value_counts()

Department of State                                                                               1410
Executive Office of the President                                                                 1376
National Security Council                                                                          858
Department of Defense                                                                              764
U.S. Senate                                                                                        601
Central Intelligence Agency                                                                        544
Executive Office of the Vice President                                                             326
Department of Navy                                                                                 309
Department of Army                                                                                 220
Department of Air Force                                                                            215
Environmental Protection Agency                                                                    202
Department of Commerce                                                                             150
Department of Homeland Security                                                                    146
U.S. House of Representatives                                                                      104
Department of Treasury                                                                              96
Department of Justice                                                                               43
Administrative Office of the United States Courts                                                   28
Department of Agriculture                                                                           26
U.S. Agency for International Development                                                           25
Federal Emergency Management Agency                                                                 25
United States Central Command                                                                       24
Federal Communications Commission                                                                   23
National Aeronautics and Space Administration                                                       18
Department of Energy                                                                                18
Federal Reserve Board                                                                               13
Defense Intelligence Agency                                                                         13
U.S. Marine Corps                                                                                   12
Department of Transportation                                                                        11
Office of the Mayor of the District of Columbia                                                     10
Office of the Director of National Intelligence                                                      9
Office of Science and Technology Policy                                                              9
Department of Education                                                                              9
National Archives and Records Administration                                                         8
Health and Human Services                                                                            5
Smithsonian Institution                                                                              4
Peace Corps                                                                                          3
FBI                                                                                                  3
Defense Logistics Agency                                                                             3
Holocaust Memorial Museum                                                                            2
Department of Health and Human Services                                                              2
Office of the U.S. Trade Representative                                                              2
Department of Interior                                                                               2
Research and Innovative Technology Administration/Volpe National Transportation Systems Center       2
National Transportation Safety Board                                                                 1
Export Import Bank                                                                                   1
U.S. European Command                                                                                1
Office of Personnel Management                                                                       1
Committee on Standards of Official Conduct                                                           1
Department of Veterans' Affairs                                                                      1
Office of National Drug Control Policy                                                               1
Department of Housing and Urban Development                                                          1
Federal Energy Regulatory Commission                                                                 1
National Science Foundation                                                                          1
Appalachian Regional Commission                                                                      1
Federal Housing Finance Board                                                                        1
Name: agency_name, dtype: int64

In [76]:
df['year_received'].value_counts().sort_index()

1977      1
1985      1
1995      1
1997      4
1998      1
1999    330
2000    380
2001    306
2002    353
2003    313
2004    279
2005    360
2006    442
2007    531
2008    423
2009    560
2010    501
2011    723
2012    508
2013    570
2014    503
2015    480
2016    325
2017    301
2018    196
Name: year_received, dtype: int64

In [77]:
# removing 1977 - 1998 as a result of value counts being below 5, focusing on 1999 - 2018
df = df[df['year_received'] >= 1999]
df['year_received'].value_counts().sort_index()

1999    330
2000    380
2001    306
2002    353
2003    313
2004    279
2005    360
2006    442
2007    531
2008    423
2009    560
2010    501
2011    723
2012    508
2013    570
2014    503
2015    480
2016    325
2017    301
2018    196
Name: year_received, dtype: int64

In [78]:
# removing 1977 - 1998 as a result of value counts being below 5, focusing on 1999 - 2018
df = df[df['year_received'] >= 1999]
df['year_received'].value_counts()

2011    723
2013    570
2009    560
2007    531
2012    508
2014    503
2010    501
2015    480
2006    442
2008    423
2000    380
2005    360
2002    353
1999    330
2016    325
2003    313
2001    306
2017    301
2004    279
2018    196
Name: year_received, dtype: int64

In [79]:
# removing rows where country is null
df = df.dropna(subset="donor_country")

In [80]:
# making sure nulls for donor country were removed
df.isna().sum()

recipient              0
agency_name          579
year_received          0
date_received       2898
donor                  2
donor_country          0
gift_description       2
value_usd            255
justification          2
dtype: int64

In [82]:
# about 2000 records were removed 
df.shape

(6968, 9)

In [83]:
# value of gifts are also important, so i will be removing null records from the dataset 
df = df.dropna(subset="value_usd")

In [84]:
# making sure they were removed again
df.isna().sum()

recipient              0
agency_name          512
year_received          0
date_received       2773
donor                  2
donor_country          0
gift_description       2
value_usd              0
justification          2
dtype: int64

In [85]:
# will be removing null values from agency_name, just incase i want to use it 
df = df.dropna(subset="agency_name")

In [87]:
df = df.dropna(subset="donor")
df = df.dropna(subset="justification")

In [89]:
# cool, no nulls, date received isn't as important as the year for this assignment
df.isna().sum()

recipient              0
agency_name            0
year_received          0
date_received       2258
donor                  0
donor_country          0
gift_description       0
value_usd              0
justification          0
dtype: int64

## Top 15 countries that have donated gifts to US Diplomats?

In [102]:
df['donor_country'].value_counts().sort_values(ascending=False).nlargest(15)

Qatar                   379
Saudi Arabia            373
Afghanistan             343
Jordan                  243
China                   233
United Arab Emirates    201
Italy                   190
Pakistan                188
Iraq                    174
Kuwait                  147
Japan                   130
Bahrain                 127
Russia                  116
France                  113
Egypt                   111
Name: donor_country, dtype: int64

In [105]:
top_15 = df.loc[df['donor_country'].isin(["Qatar", "Saudi Arabia","Afghanistan","Jordan","China","United Arab Emirates","Italy","Pakistan","Iraq","Kuwait","Japan","Bahrain","Russia","France","Egypt"])]

In [122]:
top_15.head()

,recipient,agency_name,year_received,date_received,donor,donor_country,gift_description,value_usd,justification
716,"Donald L. Evans, Secretary of Commerce",Department of Commerce,2001,NaN,"German Gref, Minister, Economic Development an...",Russia,"Cafe Pushkin, Moscow, Russia. Rec'd--July 27, ...",1200.0,Non-acceptance would cause embarrassment to do...
719,"Donald H. Rumsfeld, Sec. of Defense",Department of Defense,2001,NaN,"Field Marshall Hussein Tantawy, Egypt",Egypt,"Cotton rug. Rec'd--Oct. 4, 2001. Est. Value-- ...",350.0,Non-acceptance would cause embarrassment to do...
723,"Donald H. Rumsfeld, Sec. of Defense",Department of Defense,2001,NaN,"Salim Al-Abdallah Jabir Al Sabah, Ambassador K...",Kuwait,"Tiffany crystal bowl. Rec'd--Dec. 15, 2001. Es...",420.0,Non-acceptance would cause embarrassment to do...
724,"Donald H. Rumsfeld, Sec. of Defense",Department of Defense,2001,NaN,"Fahid Kahn, MOD Afghanistan",Afghanistan,"Silk carpet. Rec'd-- Dec. 16, 2001. Est. Value...",390.0,Non-acceptance would cause embarrassment to do...
727,"Donald H. Rumsfeld, Sec. of Defense",Department of Defense,2001,NaN,President General Pervez Musharraf of Pakistan,Pakistan,Large wood chest w/ brass and copper. Rec'd--N...,340.0,Non-acceptance would cause embarrassment to do...

## What is the most expensive and least expensive gift given from the top donor countries?

In [123]:
min_max_gifts = pd.pivot_table(top_15, index=['donor_country'], values=['value_usd', 'gift_description', "recipient", "year_received", "donor"] ,aggfunc=[min, max, sum])

In [124]:
min_max_gifts = min_max_gifts.reset_index()

In [126]:
min_max_gifts.head()

  donor_country                                                min  \
                                                             donor
0   Afghanistan  Abdul Rahim Wardak, Defense Minister, Islamic ...
1       Bahrain  Abdulla H. Saif, Finance Minister, Government ...
2         China  A delegation of Mayors and Senior Officials fr...
3         Egypt            Abd el Alim Mohamed Tamer, Egyptian CNO
4        France  Admiral Bernard Rogel and Mrs. Christine Rogel...

                                                      \
                                    gift_description
0  (1) Red and Black Woven Rug with White Tassels...
1  (1) Plaque stating ``Bahrain Defense Force'' o...
2  10'' x 6'' x 6'' bronze statue. Rec'd--9/27/ 2...
3  10" silver replica hookah, enclosed in blue fe...
4  $2,700 Swiss Francs in cash. Rec'd--November 1...

                                                                              \
                                           recipient value_usd year_received
0  AG Name and title of person accepting the gift...      35.0          2001
1   Admiral Gary Roughead, Chief of Naval Operations     120.0          2001
2  Admiral Cecil Haney, Commander of the U.S. Pac...       1.4          2001
3  Admiral Edmund Giambastiani, Vice Chairman, Jo...      85.0          2001
4  Admiral Jonathan Greenert, US Navy, Chief of N...     170.0          2001

                                                 max  \
                                               donor
0  the President Gifts] Identity of foreign donor...
1                             The Kingdom of Bahrain
2  Zhou Qiang, Secretary of Hunan of the Provinci...
3  Younis El Masri, Lieutenant General (Air Force...
4  World Health Organization, International Agenc...

                                                      \
                                    gift_description
0  Woven wool Afghani carpet. Rec'd--6-Mar- 07; E...
1  Wristwatch. Rec'd--6/21/ 2012. Est. Value-- $7...
2  ``The Palace Museum'' yellow tie. Ceramic plat...
3  Yellow alabaster bowl; sterling silver chains ...
4  Wine: 6 bottles of 1990 Chateau Talbot Saint- ...

                                                                         \
                                     recipient  value_usd year_received
0  White House Staff Member. LTG Lute, Douglas  110000.00          2018
1    White House Staff Member. Hadley, Stephen   26450.00          2018
2  White House Staff Member. Summers, Lawrence   20000.00          2018
3    White House Staff Member. Donilon, Thomas   10000.00          2018
4         White House Staff Member Lisa Monaco   15083.62          2018

         sum
   value_usd year_received
0  505429.42        689296
1  280714.82        255087
2  285698.60        468378
3   93518.45        222937
4  207180.09        227101

In [127]:
# min_max_gifts.to_csv('min_max_us_diplomat_gifts.csv')